body p{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.topBanner{
  min-height: 15vh;
  min-width: 100vh;
  margin: 0px;
  padding:0px;
  display: flex;
  align-items: center;
}
.profilePic{
  width: 6%;
  height: 6%;
}
.space{
  margin-right: 2%;
}
.space2{
  margin-right: 6%;

}
.age{
  width: 30px;
  height: 28px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px 0px 0px 10px;
  margin-bottom: 10px;
  padding-left:2px
}
.blood{
  width: 30px;
  height: 28px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 10px 10px 0px;
  border-left:none;
  margin-bottom: 10px;
  padding-left: 2px;
}
.blood p{
  color: red;
}

header #conditionHeading{
  font-size: 13px;
  margin-bottom:1%;
}

header #specialConditon{
  text-transform: uppercase;
}

#googleMap{
  width: 100vw;
  height: 85vh;
}
.mapParent{
  min-width: 100vh;
  height:85vh;
  padding: 0px;
  margin: 0px;
}

.searchBar {
    min-width: 40vh;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    align-items: center;
}

.searchBar .material-icons {
    padding: 5px 10px;
    position: absolute;
}

#userInput {
    background-position: 10px 12px;
    background-repeat: no-repeat; 
    font-size: 16px; 
    padding: 5px 10px;
    border: 0;
    padding-left: 40px;
}

.search {
    display:flex;
    align-items: baseline;
}

#searchButton {
    font-size:14px;
    height: 5vh;
    margin-top: 5px;
    margin-left: 5px;
}

